    /*
            SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

            FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    */


/* Colors {
    primary color: #008c99;
    secondary color: #cf571c;
    black color: #141414
  } */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  } 

  body {
    font-family: sans-serif;
    color: #141414;
  }
  
  .menu-bar img {
      position: relative;
      right: 7rem;
      cursor: pointer;
      width: 30%;
  }
  
  .menu-bar {
    background-color: rgba(0, 0, 0, 0.6);
    max-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    border-bottom: 1px solid #888585;
    z-index:1;
  }
  .bars {
    display: none;
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  
  .menu-bar ul li {
    padding: 1.2rem 2.4rem;
    position: relative;
    justify-self: center;
    align-self: center;
  }
  
  .menu-bar ul li a {
    font-size: 2rem;
    color:  white;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .sign {
    text-align: center;
      padding: 0.8rem ;
      border-radius: 2px;
      border: 2px solid #008c99;
      background-color: #008c99;
  }

  .menu-bar ul li a:hover {
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #008c99;
  }
  
  /* Dropdown-Menu */

  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    min-width: 18rem;
    left: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 1rem;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 1.5rem;
    padding: 1rem;
  }

  /* HERO */

  .hero-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 12.8rem;
}
  .hero {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/pexels-4.jpg");
      height: 100vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-position:top center;
      background-size: cover;
  }

.hero-text{
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%,50%);
    text-align: center;
    color: white;
    background-color: #fff3;
    min-width: 600px;
    min-height: 270px;
    padding: 2rem;
    box-shadow: #343A40 0 2px 4px;
}

.hero-text span {
    line-height: 1.5;
    display: block;
    margin-bottom: 4.8rem;
 }

.hero-text .play {
  background-color: #fff7;
    color: #212529 ;
    font-weight: 600;
    padding: 0.8rem;
    margin-bottom: 4.8rem;
    font-size: 4.4rem;
    color: #212529;
}

.btn {
    padding: 1.2rem ;
    font-size: 2.4rem;
    text-decoration: none;
    width: 20rem;
    text-align: center;
    border-radius: 1px;
    box-shadow: #343A40 0 2px 4px;
    text-shadow: none;
}

.btn-prg {
    border: 1px solid white;
    left: 8rem; 
    color: white;
}

.btn-p {
  background-color: #b24020;
  color: white;
  text-transform: uppercase;
}
.btn-p:hover {
  color: white;
  background-color: #008c99;
}
.btn-prg:hover {
    background-color: #b24020;
    color: white;
}

.btn-reg {
    margin-left: 5rem;
    background-color: #008c99;
    color: white;
}

.btn-reg:hover {
    color: white;
    background-color: #b24020;
}


/* About us section */

.about-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 4.8rem;
    padding: 2.4rem;
    margin-bottom: 8rem;
}

.about-us {
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.about-us h1 {
    font-size:3rem;
    margin-top: 2rem;
}

.about-paragraph {
    font-size: 1.8rem;
    text-align: center;
    color: #555;
    margin-bottom: 6.4rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 4.8rem;
}
.icon-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
    color: #008c99;
    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.icons h2 {   
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

.icon-paragraph {
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
}

.icons .learn-more-btn {
    padding: 1.2rem 0.8rem;
    font-size: 2rem;
    margin-bottom: 10rem;
    text-decoration: none;
    width: 16rem;
    text-align: center;
    border-radius: 1px;
    box-shadow: #343A40 0 2px 4px;
    text-shadow: none;
    color: #fff;
    background-color: #008c99;
}


/* Programs */

.grid-2 {
  grid-template-columns: repeat(2,1fr);
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.pb-lg {
  margin-bottom: 14.4rem;
}

.stps-content {
  display: grid;
  row-gap: 12.8rem;
  column-gap: 12.8rem;
}
.steps {
  padding: 0 4.8rem;
}

.steps-header {
  padding: 9.6rem 0 6.4rem 0;
}

.step-header-description {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #cf711f;
}


.step-img img {
  width: 100%;
}

.step-age {
  font-size: 2.4rem;
  font-weight: 700;
  color: #bbb;
  margin-bottom: 2.4rem;
}

.step-title {
  margin-bottom: 3.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.05px;
}

.program-container {

    background-color: rgba(255, 255, 255, 0.5);
    padding: 4.8rem;
    margin-bottom: 12.8rem;
}

.programs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 9.6rem;
    align-items: center;
    justify-content: center;
    color: black;
}

.title, 
.infant, 
.preschool, 
.toddler,
.infant-description,  
.preschool-description {
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.toddler-description {
  align-self: center;
  justify-self: center;
}

 .prog-name h1 {
     margin-top: auto;
     background-color: #008c99;
     padding: 1.2rem 0.rem;
     margin-bottom: 1.6rem;
     font-size: 2.4rem;
     text-align: center;
     color: white;
     max-width: 20rem;
 }

 .prog-name h1:hover {
     
    border: 1px solid #008c99;
    color: #008c99;
    background-color: white;
 }

 .prog-name .fp {
     font-size: 1.6rem;
     margin-bottom: 2.4rem;
 }

 .goal-span {
    color: #212529;
    font-size: 2.4rem;
    text-align: center;
 }

 .goals-list {
     margin-top: 1.2rem;
     display: flex;
     justify-content: space-around;
     font-size: 2.4rem;
 }

 .goals-list p i {
   
  letter-spacing: 0.8rem;
 }

.goals-list .blue {
  color: #008c99;
}

.goals-list .orange {
  color: #b24020;
}

.goals-list .green {
  color: #1c882b;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  color: #b24020;
  font-weight: 600;
}


/* TESTIMONIALS */

.testimonial-container {
  display: flex;
  flex-direction: column;
  background: #008c99;
}

.testimonial-title-content {
  font-size: 1.6rem;
  text-align: center;
  color: aliceblue;
  align-self: center;
}

.testimonials-title {
  text-transform: uppercase;
  font-weight: 550;
  padding-top: 4.8rem;
}

.testimonial {
  max-width: 120rem;
  margin: auto;    
  padding: 4.8rem 1.2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}

.testimonial .box {
  align-self: flex-end;
  font-size: 1.6rem;
  background: #fff;
  width: calc(32% - 10px);
  height: 38rem;
  padding: 4.6rem;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.testimonial .box i.quote {
  font-size: 2rem;
  color: #17a2b8;
}

.testimonial .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.box .info .name {
  font-weight: bold;
  color: #212529;
  font-size: 1.6rem;
}

.box .info .parent {
  font-size: 1.6rem;
  font-weight: 500;
  color: #008c99;
}

.box .info .stars {
  margin-top: 2px;
}

.box .info .stars i {
  color: #17a2b8;
}

.box .content .image {
  height: 7.5rem;
  width: 7.5rem;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
  object-fit: cover;
}

.content .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.box:hover .content .image img{
  border-color: #fff;
}

/* GALLERY */

.gallery-container {

    background-color: #f3f3f3;
    padding: 14.4rem;
}

.hexagon-gallery img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .gallery-description {
    margin-top: 2.4rem;
    text-align: center;
    font-size: 2rem;
  }

  .gallery-description h2 {
    font-weight: 600;
    font-size: 4.4rem;
    margin-bottom: 2.4rem;
    color: #b24020;
  }

  .hexagon-gallery {
    margin: auto;
    margin-top: 5rem;
    max-width: 100rem;
    display: grid;
    grid-auto-rows: 20rem;
    grid-gap: 1.4rem;
    padding-bottom: 4.8rem;
    padding-top: 4.8rem;
    z-index:0;
  }
  
  .hex {
    display: flex;
    position: relative;
    width: 24rem;
    height: 26.5rem;
    background-color: #424242;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .hex:first-child {
    grid-row-start: 1;
    grid-column: 2 / span 2;
  }
  
  .hex:nth-child(2) {
    grid-row-start: 1;
    grid-column: 4 / span 2;
  }
  
  .hex:nth-child(3) {
    grid-row-start: 1;
    grid-column: 6 / span 2;
  }
  
  .hex:nth-child(4) {
    grid-row-start: 2;
    grid-column: 1 / span 2;
  }
  
  .hex:nth-child(5) {
    grid-row-start: 2;
    grid-column: 3 / span 2;
  }
  
  .hex:nth-child(6) {
    grid-row-start: 2;
    grid-column: 5 / span 2;
  }
  
  .hex:nth-child(7) {
    grid-row-start: 2;
    grid-column: 7 / span 2;
  }
  
  .hex:nth-child(8) {
    grid-row-start: 3;
    grid-column: 2 / span 2;
  }
  
  .hex:nth-child(9) {
    grid-row-start: 3;
    grid-column: 4 / span 2;
  }
  
  .hex:nth-child(10) {
    grid-row-start: 3;
    grid-column: 6 / span 2;
  }

  .hex:hover {
      transform: scale(1.05) ;
  }
  
  .hex:active {
    transform: scale(2) ;
    z-index: 3;
}
  /* FOOTER */

  .footer-container {
	max-width: 120rem;
  max-height: 24.4rem;
	margin:auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footer-list {
	list-style: none;
  line-height: 2.1;
  padding-left: 0px;
}

.footer {
	background-color: #24262b;
  padding: 7rem 0;
}

.footer-col {
   width: 25%;
   max-height: 27rem;
   padding: 0 1.5rem;
   justify-self: center;
   align-self: flex-start;
}

.footer-col img {
    position: relative;
    right: 6.4rem;
    bottom: 9.6rem;
    cursor: pointer;
    width: 80%;
}

.footer-col h4 {
	font-size: 1.8rem;
	color: white;
	margin-bottom: 3.8rem;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #008c99;
	height: 2px;
	box-sizing: border-box;
	width: 8rem;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 1rem;
}

.footer-col ul li  {
    display: inline;
}

.footer-col ul li a {
	font-size: 1.6rem;
	color: white;
	text-decoration: none;
	color: #bbb;
	display: block;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 4px;
}

.footer-col .social-links a {
  font-size: 1.6rem;
	display: inline-block;
	height: 4rem;
	width: 4rem;
	background-color: #008c99;
	margin:0 10px 10px 0;
	text-align: center;
	border-radius: 50%;
	color: white;
  padding: 5%; 
}
.social-links {
  display: flex;
}

.footer-col .footer-info p i:hover ,.footer-col .social-links a:hover{
	color: #008c99;
	background-color: white;
}

.footer-col .footer-info  {
	color: #bbb;
  display: block;
  font-size: 1.6rem;
}
.footer-col .footer-info p {
  
  margin-bottom: 0;
}
.footer-col .footer-info p i {
  object-fit:scale-down;
  margin: 4px 6px 0 -8px;
	height: 3.5rem;
	width: 3.5rem;
	text-align: center;
	border-radius: 50%;
	color: white;
  display: inline-block;
  padding: 3%;
}

.nav-list {
  position: relative;
  bottom: 15.6rem;
  left: 1.2rem;
}
